<h1>Editing temporary</h1>

<%= render "form", temporary: @temporary %>

<br>

<div>
  <%= link_to "Show this temporary", @temporary %> |
  <%= link_to "Back to temporaries", temporaries_path %>
</div>
